.Whole{
    display: flex;
    width: 1100px;
    background-color: blue;
    gap:190px;
    right:0;
    left: 0;

}
.Trending_Categories select{
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-top: 15px;
  font-size: medium;
  font-style: italic;
}

.Whole .Trending_Categories select option{
    color: black;
  background-color: white;
}
.Whole .navelement nav ul{
    display: flex;
    list-style-type: none;
     gap:30px;
}

.Whole .navelement nav ul li a{
    color: white;
    text-decoration: none;
}

