.banner {
    position: relative;
    width: 800px;
    max-width: 900px;
    height: 200px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #2563eb, #3b82f6, #93c5fd);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  /* Text Content */
  .content {
    max-width: 50%;
    z-index: 1;
  }
  
  .content h1 {
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .button {
    background: white;
    color: #2563eb;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background: #f3f3f3;
  }
  
  /* Rocket Image */
  .rocket {
    font-size: 5rem;
    position: absolute;
    right: 10%;
    top: 20%;
  }
  
  .rocket img{
    width: 200px;
    height: 180px;
  }
  
  /* SVG Waves */
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 0;
  }
  .Main4card{
    display: flex;
    flex-direction: column;
    gap:10px
  }
  .DashTask-card2{
    background-color:none;
    
  }

  .cards-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;

  }
  
  .card {
    background: white;
    width: 390px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .card.dark{
    background-color: #333;
  }
  .card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  
  .menu.dark{
    color: gray;
  }
  .menu {
    cursor: pointer;
    color:black;
    margin-top: 15px;
    margin-left: 200px;
    font-size: 1.2rem;
  }
  .Cardtitle5{
    margin-left: 10px;
    margin-top: 10px;
    color: #222;
  }
  .Cardtitle5.dark{
    color: white;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    width: 100%;
    height: 70px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F8F9DA;
  }
  .chart.dark{
    background-color: #232222;
    color: white;
  }
  .cardAmount{
    color: black;
  }
  .cardAmount.dark{
    color: white;
  }
  .bar {
    width: 8px;
    border-radius: 4px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  .percentage1 {
    font-weight: bold;
  }
  